/* ========

  GLOBALS 
  
========= */

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  margin: 0;
  padding: 0;
  width: 100%;
}

:root {
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  color: white;
  --red: rgb(183, 67, 67);
  --blue: rgb(73, 121, 161);
  --green: rgb(55, 158, 48);
  --darkBlue: rgb(6, 0, 42);
}

/* ======

  DRY 
  
====== */

body,
header,
body div,
ul,
li {
  display: flex;
  flex-direction: column;
}

header,
footer,
ul,
button,
btns {
  height: 90px;
  align-items: center;
}

header,
footer {
  background: black;
}

p,
#headshot {
  margin-bottom: 20px;
}

#menu,
#menu li {
  display: flex;
  flex-direction: row;
}

#dev,
#music,
#about,
#profile {
  padding: 10px;
}

#menu li:first-child,
#dev-menu {
  background: var(--red);
}

#menu li:nth-child(2),
#music-menu {
  background: var(--blue);
}

#dev-menu,
#music-menu {
  height: auto;
  display: none;
}

#dev-menu li,
#music-menu li {
  height: 60px;
  justify-content: center;
  align-items: center;
}

#dev,
#music {
  display: none;
}

li,
button {
  cursor: pointer;
}

/* =======

  TAGS 
  
======== */

body {
  background: var(--darkBlue);
}

ul {
  list-style: none;
}

button {
  border: 1px white solid;
  margin-bottom: 5px;
  color: white;
  background: var(--darkBlue);
  transition: background 0.3s ease;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

footer p {
  font-size: 0.5rem;
  margin: 0;
}

/* ========

  CLASSES
  
======== */

.social {
  width: 50px;
  border-radius: 10px;
}

.social:last-child {
  margin-left: 5px;
}

.title-script {
  margin: 50px 0;
  max-width: 400px;
}

/* ======

  IDs
  
====== */
#title {
  display: block;
  text-align: center;
}

#logo {
  max-width: 300px;
}

#social-box {
  flex-direction: row;
  justify-content: center;
}

#container {
  min-height: calc(100vh - 180px);
}

#profile {
  display: none;
}

#banner {
}

#content {
}

#menu li {
  align-items: center;
  justify-content: center;
  height: 100%;
}

#menu li:last-child {
  background: rgb(55, 158, 48);
}

#description {
  padding: 50px 0;
}

/* =============

  HOVER/ACTIVE
  
============= */

button:hover,
button:active,
#menu li:hover,
li:hover {
  background: rgb(255, 243, 22);
  color: black;
  border: none;
}

/* =======

  ≥IPAD
  
======== */

@media (min-width: 750px) {
  #container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto auto;
    align-content: flex-start;
    font-size: 0.7rem;
  }

  #profile {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    background: rgb(45, 45, 45);
  }

  #headshot {
    border-radius: 50%;
  }

  #banner {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #content {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
