:root {
  font-family: "Nunito", sans-serif;
  --darkBlue: rgb(2, 0, 34);
  --blue: rgb(0, 10, 95);
  --alt: rgb(0, 31, 209);
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

body,
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--darkBlue);
  color: white;
  font-size: 1.3em;
}

#content {
  min-height: calc(100vh - 160px);
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  position: fixed;
  background-color: var(--blue);
  transition: top 0.3s ease;
}

.headspace,
.projects li,
nav,
button {
  height: 80px;
}

.headspace {
  transition: position 0.3s ease;
}

nav > ul {
  display: flex;
  height: 100%;
}

nav > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: none;
  background-color: var(--blue);
}

.projects,
header {
  border-radius: 0 0 20px 20px;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: var(--alt);
}

.projects li {
  display: none;
  align-items: center;
  justify-content: center;
}

.project-container {
  display: none;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 50px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

p {
  padding: 20px 10px;
}

.bio-box p {
  font-size: 0.8em;
}

.socialbox {
  display: flex;
  flex-direction: row;
  width: 120px;
}

a {
  text-decoration: none;
  color: lightblue;
}

#project-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

button {
  color: white;
  background: var(--alt);
  width: 96%;
}

.social {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  transition: 0.1s opacity ease;
}

.social:hover {
  opacity: 50%;
}

.social:last-child {
  margin-left: 5px;
}

img {
  margin-bottom: 20px;
}
